
/* *{
  color: white;
} */
body {
  background-color: black;
  font-family : Times New Roman;
  
}
.main-content{
  text-align: center;
    justify-content: center;
    height: 100%;
    border: 10px solid gray;
}
#h1{
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 50px;

}
#h5{
  color: white;
  font-size: 30px;
}
.image-p{
 display: flex;
 /* padding-left: 50px; */
    /* justify-content: center;
    align-items: center; */

}
.image{
  
height: 100px;
width: 50%;

}
.content{
  width: 50%;
  font-size: 30px;
  padding-top: 7%;
  padding-left: 2%;
  height: 70vh;
    color: white;
}
#gandhi_image{
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 5% 0 0 30px;
}
.Mohandas{
  font-size: 25px;
  color: white;
  padding: 0 20px 0 20px;
}
h2{
  font-size: 30px;
    color: white;
}
h4{
  font-size: 27px;
    color: white;
}
.Timeline{
  font-size: 25px;
    color: white;
}
a{
  color: white;
}
.second{
   border: 10px solid gray;
}